/* Estilo para os botões de sugestão */
#botaosugestao1, #botaosugestao2, #botaosugestao3, #botaosugestao4, #botaosugestao5 {
    background-color: #fff; /* Fundo branco */
    color: #680b08; /* Texto na cor do vinho */
    border: 2px solid #680b08; /* Borda sólida */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para hover */
}

/* Estilo para hover nos botões de sugestão */
#botaosugestao1:hover, #botaosugestao2:hover, #botaosugestao3:hover, #botaosugestao4:hover, #botaosugestao5:hover {
    background-color: #680b08; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Refinamento do hover em todos os botões de compra */
#botaocomprar1:hover, #botaocomprar2:hover, #botaocomprar3:hover, #botaocomprar4:hover, #botaocomprar5:hover {
    background-color: rgb(64, 8, 10, 0.9); /* Cor mais escura para melhor visibilidade no hover */
    transition: background-color 1s; /* Suaviza a transição da cor de fundo */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #680b08;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: auto;
}

.card {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    align-items: center;
}


.card img {
    width: 100%;
}




.card h3 {
    color: #333;
    margin-top: 0;
}

.card p {
    font-size: 14px;
    color: #666;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}
