
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Define a altura do corpo para ocupar toda a altura da tela */
    position: relative;
    background-color: #FDF8E5;
}


#bloco {
    width: 90vmin;
    height: 30vmin;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #FDF8E5;
}


#titulo {
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 10px; /* Adiciona um preenchimento ao redor do texto para melhorar a legibilidade */
}



.destaque_titulo{
    color:#991F2E;
}



#botaosim, #botaonao {
    height: 8vmin;
    width: 20vmin;
    color: white;
    background-color:#991F2E; /* Cor de fundo com transparência para criar um efeito de embaçamento */
    padding: 10px; /* Adiciona um preenchimento ao redor do texto para melhorar a legibilidade */
    border-radius:17px;
    font-size: 15px;
}
